<%- include partials/header.ejs %>
<% var drinkingwater = datas[0].drinkingwater/ datas[0].ratedby %>
<% var publicinfrastructure = datas[0].publicinfrastructure/ datas[0].ratedby %>
<% var personalhygeine = datas[0].personalhygeine/ datas[0].ratedby %>
<% var healthfacility = datas[0].healthfacility/ datas[0].ratedby %>
<% var garbagecontrol = datas[0].garbagecontrol/ datas[0].ratedby %>
<div class="container-fluid p-5">
  <div class="row mt-5 p-5">
    <!-- Card deck -->
    <div class="card-deck">

      <!-- Card -->
      <div class="card mb-4">
        <!--Card content-->

        <div class="card-body">
          <!--Title-->
          <h4 class="card-title ">Water Supply</h4>
          <hr>
          <!--Text-->
          <p class="card-text ">How much is the water supplied to your society is safe for drinking, domestic and recreational ?</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <div class="p-2"><p><b>Rated By </b>: <%= datas[0].ratedby %></p>
          <p><b>Rating</b> : <%= drinkingwater %></p></div>
        </div>
      </div>
      <!-- Card -->






      <!-- Card -->
      <div class="card mb-4">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Solid Waste Management</h4>
          <hr>
          <!--Text-->
          <p class="card-text">How is the storage, collection, disposal and management of solid waste in your society?</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

          <p><b>Rated By</b> : <%=datas[0].ratedby%></p>
          <p><b>Rating</b>: <%= garbagecontrol %></p>
        </div>
      </div>
      <!-- Card -->






<div class="card-deck">
      <!-- Card -->
      <div class="card mb-4">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Vector Control</h4>
          <hr>
          <!--Text-->
          <p class="card-text">How is the control of mammals(rats,etc.) and athropods( insects,etc.) in your soceity? </p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <p><b>Rated By</b> : <%=datas[0].ratedby%></p>
          <p><b>Rating</b>: <%= personalhygeine %></p>

        </div>
      </div>
      <!-- Card -->




      <!-- Card -->
      <div class="card mb-4">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Human Waste Disposal</h4>
          <hr>
          <!--Text-->
          <p class="card-text">How is the management of liquid waste and excretal disposal in your society?</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <p><b>Rated By</b> : <%=datas[0].ratedby%></p>
          <p><b>Rating</b>: <%= healthfacility %></p>

        </div>
      </div>
      <!-- Card -->




      <!-- Card -->
      <div class="card mb-4">
        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Institutional Hygiene</h4>
          <hr>
          <!--Text-->
          <p class="card-text">How is the hygiene at the schools, prisons, refuge camps, homes, etc in your area.</p>
          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <p><b>Rated By</b> : <%=datas[0].ratedby%></p>
          <p><b>Rating</b>: <%= publicinfrastructure %></p>

        </div>
      </div>
      <!-- Card -->
</div>
    </div>
    <!-- Card deck -->
  </div>

</div>
<%- include partials/footer.ejs %>
