<%- include partials/header.ejs %>
<style>
.img{
	width: 30%;
	height: 30%;
	
}
body{
	background: #200122;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
<div class="container">
<h1> <%= foundgirl.name %> </h1>

	<div clas="row" style="display:flex; flex-wrap:wrap;">
		<div class="col-lg-3">
			<div class="list-group">
				<li class="list-group-item active">INFO 1</li>
				<li class="list-group-item ">INFO 2</li>
				<li class="list-group-item ">INFO 3</li>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="thumbnail " id="showthumbnail">
 				
	 				<img  src="<%= foundgirl.img %>">
	 				<div class="caption-full">
						<h4> <%= foundgirl.name %></h4>
		 				<p><em>Submitted by <%=foundgirl.author.username%></em></p>
						<p><%= foundgirl.description %>></p>
						<%if(currentuser && foundgirl.author.id.equals(currentuser._id)) { %>
							<a href="/girls/<%=foundgirl._id%>/edit" class="btn btn-xs btn-warning"> EDIT</a>
							<form id="deleteform" action="/girls/<%=foundgirl._id%>?_method=DELETE" 		method="POST">
								<button   class="btn btn-xs btn-danger">DELETE</button>
							</form>
						<%}%>
	 				</div>
	 		</div>
 		
			<div class="well">
				<a  href="/girls/<%= foundgirl._id %>/comments/new"class="btn btn-md btn-primary pull-right">ADD COMMENT
				</a>				
				<% foundgirl.comments.forEach(function(comment){%>
				<div class="row">			
					<div class="col-lg-12 col-md-6">
						<span class="pull-right"> 10 days ago </span>
						<strong><%= comment.author.username %></strong>
														
						<p><%=comment.content%></p>
						<%if(currentuser && comment.author.id.equals(currentuser._id)){%>
							<a class="btn btn-warning btn-xs" 
							href="/girls/<%=foundgirl._id%>/comments/<%=comment._id%>/edit">EDIT</a>
							
							<form id="deletecomment" 	action="/girls/<%=foundgirl._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
								<button class="btn btn-danger btn-xs" type="submit"> DELETE</button>
							</form>
					</div>
				</div>
				<hr>
					<%}%>
				<%})%>
				<hr>
			</div>
		</div>

		
	</div>


</div>

<%- include partials/footer.ejs %>
